<h1>Ficha Cliente</h1>

<div id="<%= dom_id client %>">
  <p>
    <strong>id:</strong>
    <%= client.id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Cant. Mascotas:</strong>
    <%= client.pets_count %>
  </p>

</div>
