<div id="<%= dom_id history %>">
  <p>
    <strong>Mascota:</strong>
    <%= history.pet.name%>
  </p>

  <p>
    <strong>Fecha Control:</strong>
    <%= history.controldate %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= history.wheight %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= history.height %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= history.description %>
  </p>


</div>
